body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 20vh 55vh 10vh;
}

#logo{
display:flex;
justify-content: center;
border:solid black 3px;
grid-column: 1/2;
}

#logo img{
    width:100px;
    height: auto;
}

header, nav, main, footer{
    background-color: black;
}

nav, main, footer{
    margin-top:25px;
}

h1, nav a, footer a{
    color:white;
}

nav, h1, footer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header, main, nav, footer{
    grid-column: 2/2;
}

footer{
    grid-row:6;
}

main{
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 20vh 16vh 40vh 20vh; */
    grid-template-rows: 2fr 1fr 6fr 2fr;
    display:grid;
    grid-row:3/5;
    height: 100%;
}

main img{
    width:150px;
    height:auto;
}

aside{
    background-image:url(./img/dragon_side.png);
    height:90vh;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row:2/6;
    border: solid 3px;
    background-size:inherit;
}