body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 20vh 55vh 10vh;
    min-height: 800px;
}

#logo{
display:flex;
justify-content: center;
border:solid black 3px;
grid-column: 1/2;
}

#logo img{
    width:100px;
    height: auto;
}

header, nav, main, footer{
    background-color: black;
}

nav, main, footer{
    margin-top:25px;
}

h1, nav a, footer a{
    color:white;
}

nav, h1, footer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header, main, nav, footer{
    grid-column: 2/2;
}

footer{
    grid-row:7;
}

main{  
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row:3/6;
    height: 100%;
}

main img{
    width:150px;
    height:auto;
}

aside{
    background-image:url(./img/dragon_side.png);
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row:2/8;
    border: solid 3px;    
}