body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 20vh 55vh 10vh;
}

#logo{
border:solid black 3px;
}

#logo img{
    width:200px;
    height: auto;
}

header, nav, footer{
    background-color: black;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color:white;
}

main, nav, footer{
    grid-column: 2/2;
}

aside{
    background-image:url(./img/dragon_side.png);
    grid-column: 1/2;
}