body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 20vh 55vh 10vh;
}

#logo{
display:flex;
justify-content: center;
border:solid black 3px;
grid-column: 1/2;
}

#logo img{
    width:200px;
    height: auto;
}

header, nav, footer{
    background-color: black;
}

h1, nav a, footer a{
    color:white;
}

nav, h1, footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

header, main, nav, footer{
    grid-column: 2/2;
}

main img{
    
}

aside{
    background-image:url(./img/dragon_side.png);
    grid-column: 1/2;
}